include kotki.png README.md LICENSE CMakeLists.txt Config.cmake.in
recursive-include 3rd_party *
recursive-include python *
recursive-include src *
recursive-include app *
recursive-include cmake *

global-exclude examples/*
global-exclude doc/*
global-exclude docs/*
global-exclude venv/*
global-exclude build/*
global-exclude tests/*
global-exclude testdata/*
global-exclude cmake-/*
global-exclude project_version.h